In [27]:
#Importing necessary libraries 
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [15]:
#Importing data
music_data=pd.read_csv('music.csv')
music_data
# male-1, female-0

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

## Differentiating data as input and output

In [16]:
x=music_data.drop(columns=['genre']) # This is input set made by dropping output column named as 'genre'
x

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [17]:
y=music_data['genre'] # Here we made separate colum of output
y

0        HipHop
1        HipHop
2        HipHop
3          Jazz
4          Jazz
5          Jazz
6     Classical
7     Classical
8     Classical
9         Dance
10        Dance
11        Dance
12     Acoustic
13     Acoustic
14     Acoustic
15    Classical
16    Classical
17    Classical
Name: genre, dtype: object

## Building Model- Decision tree classifier

In [18]:
model= DecisionTreeClassifier()
model.fit(x,y)
predictions=model.predict([[21,1],[22,0]]) # 2D array with two inputs to predict 1st-21 age, male and 2nd- 22 age ,female
predictions

# Note: here we have passed all data for testing which is not as per standard hence we will calculate accuracy with spilitting data into two sets training and testing data

array(['HipHop', 'Dance'], dtype=object)

## Measuring the accuracy of model

To do this we have to split data into test data and train data

In [30]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)
model= DecisionTreeClassifier()
model.fit(x_train,y_train)
predictions=model.predict(x_test)

accuracy=accuracy_score(y_test, predictions)
accuracy

0.5